<%= form_for(@team, :html => {:class => 'form-horizontal', :multipart => true, :data => {:abide => true}}) do |f| %>
    <div class="form-content form-below">
      <%= build_validated_field('team', 'name', 'Name', 'Cannot be blank', '[a-zA-Z]+', 'text', @team.name) %>
      <%= build_validated_field('team', 'code', 'Code', 'Cannot be blank', '[a-zA-Z]+', 'text', @team.code) %>
      <%= build_field('team', 'description', 'Description', 'text_area', @team.description) %>
      <div class='form-row'>
        <div class='small-3 columns'>
          <%= f.label :project_id %>
        </div>
        <div class='small-9 columns'>
          <%= f.select :project_id, @projects.map { |x| [x.name, x.id] } %>
        </div>
      </div>
      <%= build_validated_field('team', 'is_deleted', 'Deleted', 'Cannot be blank', '[a-zA-Z]+', 'checkbox', @team.is_deleted) %>
      <%= build_field('team', 'members_count', 'Teams count', 'text', @team.members_count) %>
      <%= build_field('team', 'managers_count', 'Members count', 'text', @team.managers_count) %>
      <%= build_field('team', 'status', 'Status', 'text', @team.status) %>
    </div>
    <div class="small-12 columns form-action-up">
      <div class="right">
        <%= f.submit nil, :class => 'button alert right' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    projects_path, :class => 'btn cancel-btn' %>
      </div>
    </div>
<% end %>


