<div class="pane3-meta">
  <div class="title">
    <%= @date.strftime('%A %d %B %Y') %>
  </div>
  <div class="right"><></div>
</div>
<div class="pane3-content no-padding">
  <dl class="accordion" data-accordion>
    <% entries.each_with_index do |entry,i| %>
        <dd>
          <a href="#panel<%= i+1 %>" class="collapse-task">
            <li class="task-name li-<%= entry.priority.to_s.downcase %>"><%= entry.name %></li>
            <li class="date-sub">
              <div class="date end-<%= (entry.end_date <= 7.day.from_now && entry.end_date >= Date.today) ? 'soon' : 'low' %>">
                <%= entry.time_to_end %>
              </div>
            </li>
          </a>
          <div id="panel<%= i+1 %>" class="content">
            <%= render :partial=>'tasks/show',:locals=>{:task=>entry,:team => entry.team, :project => entry.project} %>
          </div>
        </dd>


    <% end %>
  </dl>
</div>
<script type="text/javascript">
    $('.date-card').removeClass('active')
    $('.date-<%= date.to_s %>').addClass('active')
    $(document).foundation({
        accordion: {
            callback: function (accordion) {
            }
        }
    });
</script>