<div class="task-show">
  <div class="task-details">
    <div class="bc-div">
      <ul class="tracker-breadcrumbs">
        <li><%= link_to project.name, project_path(project) %></li>
        <li> ></li>
        <li><%= link_to team.name, project_team_path(project, team) %></li>
        <li> ></li>
        <%= link_to task.name, task_path(task) %>
      </ul>
      <div class="right">
        <div class="date end-<%= (task.end_date <= 7.day.from_now && task.end_date >= Date.today) ? 'soon' : 'low' %>">
          <%= task.time_to_end %>
        </div>
      </div>
    </div>

    <div class="task-name">
      <%= task.name %>
    </div>

    <div class="info">
      Added by
      <em><%= task.user.name %></em>
      on
      <em><%= task.created_at.strftime('%d %B %Y') %></em>
    </div>

    <div class="descr">
      <%= task.description %>
    </div>

    <div class="info">
      Start date
      <em><%= task.start_date.strftime('%d %B %Y') %></em>
      End date
      <em><%= task.end_date.strftime('%d %B %Y') %></em>
    </div>


    <div class="info">
      Assigned to
      <em>
        <% task.users.each do |u| %>
            <%= link_to u.name, user_path(u) %>
        <% end %>
      </em>
      Priority
      <em><%= task.priority %></em>
    </div>
  </div>

  <div class="comments-<%= task.id %>">
    <% if @comment.present? %>
        <%= render :partial => 'comments/form' %>
    <% end %>
    <%= link_to "#{task.comments_count.to_i} #{'comment'.pluralize(task.comments_count.to_i)}", task_comments_path(task),:remote=>true %>
  </div>

  <% if @sub_tasks.present? %>
      <% @sub_tasks.each_with_index do |task, i| %>
          <%= render :partial => 'tasks/sub_task', :locals => {:task => task, :count => i+1} %>
      <% end %>
  <% end %>
  <% if can? :edit, task.team %>
  <%= link_to 'Add subtask', new_task_path(:task_id => task.id), :class => 'dashed_link transition' %>
  <% end %>

</div>