<div class="pane3-meta">
  <div class="title">
    Log
  </div>

  <div class="right">
    <%= link_to raw('<div class="edit_link"></div>'), edit_work_log_path(@work_log) %>
  </div>
</div>

<div class="pane3-content">

  <p>
    <strong>Date:</strong>
    <%= @work_log.date.strftime('%d %B %Y') %>
  </p>


  <p>
    <strong>User:</strong>
    <%= link_to @work_log.user.name,user_path() %>
  </p>


  <p>
    <strong>Time consumed:</strong>
    <%= @work_log.hours %>
  </p>


  <p>
    <strong>Task:</strong>
    <%= link_to @work_log.task.name, task_path(@work_log.task) %>
  </p>

</div>



<script type="text/javascript">
    $('.logs .card-transparent').removeClass('active')
    $('.log-<%= @work_log.id %>').addClass('active')
</script>