<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.text_field :end_date %>
  </div>
  <%= link_to_remove_association "remove task", f %>
</div>
