<%= form_for(@user, :url => {:controller => 'users', :action => 'change_password'},:method=>'post', :html => {:class => 'form-horizontal', :multipart => true, :data => {:abide => true}}) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-content form-below">
      <% if current_user == @user %>
          <div class="password-field">
            <div class="passwords">
              <%= build_field('user', 'password', 'Password', 'password', @user.password) %>
              <%= build_field('user', 'password_confirmation', 'Confirm password', 'password', @user.password_confirmation) %>
            </div>
          </div>
      <% end %>
    </div>

    <div class="small-12 columns form-action-up">
      <div class="title">Change password</div>
      <div class="right">
        <%= f.submit 'Save', :class => 'button alert right' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    users_path, :class => 'btn cancel-btn' %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
    window.location = '#pane3'
</script>