<%= content_for :pane2 do %>
    <div class="pane2-meta">
      ding ding
    </div>
    <div class="pane2-content">
      <div class="data-container">
        <!--<dl class="tabs" data-tab>-->
        <!--<dd class="active"><a href="#panel2-1">-->
        <!--Week-->
        <!--</a></dd>-->
        <!--<dd><a href="#panel2-2">-->
        <!--Month-->
        <!--</a></dd>-->
        <!--</dl>-->
        <div class="tabs-content">
          <div class="content active" id="panel2-1">
            <% (@start_date..@end_date).each do |date| %>
                <div class="date-card date-<%= date.to_s %> card-transparent transition">
                  <% unless date == Date.today %>
                      <%= link_to date.strftime('%A %d %B %Y'), calendar_day_path(:date => date.to_s), :remote => true,:class=>'cal-date' %>
                  <% else %>
                      <%= link_to 'Today', calendar_day_path(:date => date.to_s), :remote => true,:class=>'cal-date' %>
                  <% end %>
                  <% if date <= Date.today && date >= 5.days.ago %>
                      <%= link_to 'Add log', new_work_log_path, :remote => true, :class => 'btn btn-sec right' %>
                  <% end %>
                  <div class="entries">
                    <ul>
                      <% @entries[date].each do |e| %>
                          <li>
                            <%= link_to e.name, task_path(e), :remote => true %>
                          </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
            <% end %>
          </div>
          <div class="content" id="panel2-2">
            <div class="calendar">
              <div class="month-calendar-field"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
