<div class="pane2-meta">
  <div class="title">Departments</div>
</div>
<div class="pane2-content">
  <% if can? :create, Project %>
  <%= link_to 'Create department', new_project_path, :remote => false, :class => 'dashed_link transition' %>
  <% end %>
  <% projects = Project.active if projects.nil? %>
  <% projects.each do |project| %>
      <%= link_to project_path(project), :remote => false do %>
          <div class="project card-transparent transition prj-<%= project.id %>">
            <div class="cols ths">
              <%= image_tag(project.image.icon) %>
            </div>
            <div class="cols">
              <div class="title"><%= project.name %></div>
              <div class="text">
                <%= "#{project.team_count} #{'team'.pluralize(project.team_count)}" %>
                <%= "#{project.member_count} #{'member'.pluralize(project.member_count)}" %>
              </div>
              <div class="text">
                <%= project.website %>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>