<div class="nested-fields">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <!--<div class="field">-->
    <%#= f.label :start_date %>
    <%#= f.text_field :start_date %>
  <!--</div>-->
  <!--<div class="field">-->
    <%#= f.label :end_date %>
    <%#= f.text_field :end_date %>
  <!--</div>-->

  Key results
  <div id="key_results">
    <%= f.fields_for :key_results do |kr| %>
        <%= render 'key_result_fields', :f => kr %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add key result', f, :key_results %>
    </div>
  </div>

  <%= link_to_remove_association "remove objective", f %>
</div>


