<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h2 class="login-title">
      <div class="app-logo-login"></div>
    </h2>
    <div class="set">
      <div class="field">
        <%= f.email_field :email, autofocus: true, :placeholder => 'Email', :class => 'login-field' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => 'login-field' %>
      </div>
      <div class="field-login">
        <button class="btn-login">Login</button>
      </div>
    </div>


    <% if devise_mapping.rememberable? -%>
        <div class="remebrance"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div class="login-links">
    <%#= render "devise/shared/links" %>
    </div>


    <hr/>
    <div class="alter">
      Or sign in using
      <%= link_to 'Google account',user_omniauth_authorize_path(:google_oauth2) %>

    </div>
    <!--<div class="alter">-->
      <!--Or sign in using-->
      <!--<%#= link_to 'Fluxday',user_omniauth_authorize_path(:fluxapp) %>      -->
    <!--</div>-->

    <div><%#= f.submit "Sign in" %></div>
<% end %>

