<div class="big-text">
  <%= "Worklogs of #{@user.name} for #{@date.strftime("%d %B %Y")}" %>

</div>
<div class="export-options">
  <%= link_to "PDF", current_url(:format => :pdf), :target => "_blank" %>
  <%= link_to "CSV", current_url(:format => :csv), :target => "_blank" %>
  <%= link_to "Excel", current_url(:format => :xls), :target => "_blank" %>
</div>
<table class="table sortable-table">
  <thead>
  <tr>
    <th width="500">Task</th>
    <th width="200">Duration</th>
    <th width="500">Description</th>
  </tr>
  </thead>
  <% @work_logs.each do |log| %>
      <tr>
        <td><%= log.task.name %></td>
        <td><%= log.minutes.to_duration %></td>
        <td><%= log.description %></td>
      </tr>
  <% end %>
</table>
