<% unless @tasks.empty? %>
    <div class="export-options">
      <%= link_to "PDF", current_url(:format => :pdf), :target => "_blank" %>
      <%= link_to "CSV", current_url(:format => :csv), :target => "_blank" %>
      <%= link_to "Excel", current_url(:format => :xls), :target => "_blank" %>
    </div>

    <table class="table sortable-table highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-xaxis-rotation="-45">
      <thead>
      <tr>
        <th width="400">Task</th>
        <th data-graph-skip="1" width="300">Department</th>
        <th data-graph-skip="1" width="300">Team</th>
        <th data-graph-skip="1" width="100">Hours</th>
        <th class="hidden_class" data-graph-skip="1" width="100">Hours</th>
        <th class="hidden_class" width="100">Hours</th>
        <th data-graph-skip="1" width="100">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @tasks.each do |t| %>
          <tr>
            <td><%= link_to t.name,reports_employee_tasks_path(:user_id=>@user.id,:task_id=>t.id,:start_date=>@start_date,:end_date=>@end_date) %></td>
            <td><%= t.project.name %></td>
            <td><%= t.team.name %></td>
            <td class="hidden_class"><%= @work_logs[t.id].gsub(':',"") %></td>
            <td><%= @work_logs[t.id] %></td>
            <td class="hidden_class"><%= @work_logs[t.id].gsub(':',",") %></td>
            <td><%= t.status == 'active' ? 'Pending' : t.status.capitalize  %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td><%= "#{@total['tasks']} #{'Task'.pluralize(@total['tasks'])}" %> </td>
        <td><%= "#{@total['projects']} #{'Project'.pluralize(@total['projects'])}" %></td>
        <td><%= "#{@total['teams']} #{'Team'.pluralize(@total['teams'])}" %></td>
        <td><%= @total['hours'] %> Hours</td>
        <td></td>
      </tr>
      </tfoot>

    </table>
    <script type="text/javascript">
        $(".sortable-table").tablesorter();
        if ($('.table tbody tr').length > 1){$('table.highchart').highchartTable();}
    </script>
<% else %>
    <div class="alert-box secondary">
      No sufficient data yet.
    </div>
<% end %>