<% unless @key_results.empty? %>
    <table class="table sortable-table highchart" data-graph-container-before="1" data-graph-type="pie" data-graph-xaxis-rotation="-45">
      <thead>
      <tr>
        <th width="500">Task</th>
        <th data-graph-skip="1" width="200">OKR</th>
        <th data-graph-skip="1" width="300">Objective</th>
        <th data-graph-skip="1" width="300">Key result</th>
        <th width="100">Hours</th>
      </tr>
      </thead>

      <tbody>
      <% @key_results.each do |k| %>
          <%# @tasks.each do |k, v| %>
          <% unless @tasks[k.id].nil? %>
              <% 30.times do |task| %>
                  <% @tasks[k.id].each do |task| %>
                      <tr>
                        <td><%= task.name %></td>
                        <td><%= k.objective.okr.name %></td>
                        <td><%= k.objective.name %></td>
                        <td><%= k.name %></td>
                        <td><%= @work_logs[task.id] %></td>
                      </tr>
                  <% end %>
              <% end %>
          <% end %>
          <%# end %>
      <% end %>
      </tbody>

    </table>
    <script type="text/javascript">
        $(".sortable-table").tablesorter();
        if ($('.table tbody tr').length > 1) {
            $('table.highchart').highchartTable();
        }
    </script>
<% else %>
    <div class="alert-box secondary">
      No sufficient data yet.
    </div>
<% end %>