<li><%= link_to 'Grouped Employee daily report', reports_employees_daily_path %></li>
<li><%= link_to 'Grouped Employee report for a time range', reports_employees_time_range_path %></li>
<li><%= link_to 'Employee report for a day', reports_employee_day_path %></li>
<li><%= link_to 'Employee report for a time range', reports_employee_range_path %></li>
<li><%= link_to 'Task reports', reports_tasks_path %></li>
<li><%= link_to 'OKR', reports_okrs_path %></li>
<li><%= link_to 'Assignments', reports_assignments_path %></li>
<li><%= link_to 'Worklogs', reports_worklogs_path %></li>