<% unless @tasks.empty? %>
<table class="table sortable-table highchart" data-graph-container-before="1" data-graph-type="line" data-graph-xaxis-rotation="-45">
  <thead>
  <tr>
    <th width="400">Task</th>
    <th data-graph-skip="1" width="300">Project</th>
    <th data-graph-skip="1" width="300">Team</th>
    <th width="200">Employees</th>
    <th width="200">Hours</th>
  </tr>
  </thead>
  <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.project.name %></td>
        <td><%= task.team.name %></td>
        <td><%= @assignees[task.id].to_i %></td>
        <td><%= @work_logs[task.id] %></td>
      </tr>
  <% end %>
</table>
<script type="text/javascript">
    $(".sortable-table").tablesorter();
    $('table.highchart').highchartTable();
</script>
<% else %>
    <div class="alert-box secondary">
      No sufficient data yet.
    </div>
<% end %>