<div class="main-title">
  <div class="element">
    <h5>Reports
      <a href="#" data-dropdown="drop1" class="report-select">Worklogs  ▾</a>
      <ul id="drop1" class="f-dropdown report-select" data-dropdown-content>
        <li><%= link_to 'Grouped Employee daily report', reports_employees_daily_path %></li>
        <li><%= link_to 'Grouped Employee report for a time range', reports_employees_time_range_path %></li>
        <li><%= link_to 'Employee report for a day', reports_employee_day_path %></li>
        <li><%= link_to 'Employee report for a time range', reports_employee_range_path %></li>
        <li><%= link_to 'Task reports', reports_tasks_path %></li>
        <li><%= link_to 'OKR', reports_okrs_path %></li>
        <li><%= link_to 'Worklogs', reports_worklogs_path %></li>
      </ul>
    </h5>
  </div>
</div>
<div class="report-renderer worklog-report">
  <%= render :partial => 'reports/day_log' %>
</div>
<script type="text/javascript">

</script>