<div class="report-options">
  <!--<form class="employee_daily_report_form" data-remote="false">-->
  <%= form_for(:report, :url => {:controller => 'reports', :action => 'employees_time_range'}, :method => :get, :remote => true, :class => 'employee_daily_report_form') do %>
      <div class="report-type">
        <% if current_user.manager? %>
            <%= select_tag 'report[type]', options_for_select([['Project', 'project'], ['Team', 'team'], ['Managing users', 'managing_users'], ["All employees", 'all_users'], ['Self', 'user']], @report_type), :class => 'report_type_select' %>
        <% else %>
            <%= select_tag 'report[type]', options_for_select([['Project', 'project'], ['Team', 'team'], ['Managing users', 'managing_users'], ['Self', 'user']], @report_type), :class => 'report_type_select' %>
        <% end %>
      </div>
      <div class="report_options">

      </div>
      <div class="submit_button">
        <button>Go</button>
      </div>
      <div class="report-date">
        <%= text_field_tag 'report[start_date]', @start_date, :class => 'date-only-input' %>
        <%= text_field_tag 'report[end_date]', @end_date, :class => 'date-only-input' %>
      </div>
  <% end %>
  <!--</form>-->
</div>
<div class="report-renderer">
  <%= render :partial => 'reports/employee_time_range' %>
</div>
<script type="text/javascript">
    $('.report_type_select').on("change", function () {
        $.get('/reports/get_selection_list?type=' + $(this).val())
    });
</script>