<div class="main-title">
  <div class="element">
    <h5>Reports</h5>
  </div>
</div>
<%= link_to 'Combined Employee daily report',reports_employees_daily_path %><br/>
<%= link_to 'Combined Employee report for a time range',reports_employees_time_range_path %><br/>
<%= link_to 'Employee report for a day',reports_employee_day_path %><br/>
<%= link_to 'Employee report for a time range',reports_employee_range_path %><br/>
<%= link_to 'Task reports',reports_tasks_path %><br/>