<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Task</Data></Cell>
        <Cell><Data ss:Type="String">OKR</Data></Cell>
        <Cell><Data ss:Type="String">Objective</Data></Cell>
        <Cell><Data ss:Type="String">Key result</Data></Cell>
        <Cell><Data ss:Type="String">Hours</Data></Cell>
      </Row>
      <% @key_results.each do |k| %>
          <% unless @tasks[k.id].nil? %>
              <% 30.times do |task| %>
                  <% @tasks[k.id].each do |task| %>
                      <Row>
                        <Cell><Data ss:Type="String"><%= task.name %></Data></Cell>
                        <Cell><Data ss:Type="String"><%= k.objective.okr.name %></Data></Cell>
                        <Cell><Data ss:Type="String"><%= k.objective.name %></Data></Cell>
                        <Cell><Data ss:Type="String"><%= k.name %></Data></Cell>
                        <Cell><Data ss:Type="String"><%= @work_logs[task.id] %></Data></Cell>
                      </Row>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>