<ul class="side-nav sidebar-links search-box">
  <%= form_for :search, :url => {:controller => 'home', :action => 'search'}, :method => 'get' do |f| %>
      <%= f.text_field :keyword, :class => 'quick-search', :placeholder => 'Tracker id or keyword' %>
  <% end %>
</ul>
<ul class="side-nav sidebar-links top-set">
  <li><a href="/"><span class="icon icon-dashboard-16"></span> Dashboard</a></li>
  <li><%= link_to raw('<span class="icon icon-tasks-16"></span>My tasks'), tasks_path %></li>
  <li><%= link_to raw('<span class="icon icon-projects-16"></span>Departments'), projects_path %></li>
  <li><%= link_to raw('<span class="icon icon-teams-16"></span>Team'), teams_path %></li>
  <li><%= link_to raw('<span class="icon icon-user-16"></span>Users'), users_path %></li>
  <!--<li><%#= link_to raw('<span class="icon icon-calendar-16"></span>Calendar'),calendar_index_path %></li>-->
  <!--<li><%#= link_to raw('<span class="icon icon-reports-16"></span>Reports'), reports_index_path %></li>-->
  <li><%= link_to raw('<span class="icon icon-okr-16"></span>OKR'), okrs_path %></li>
  <li><%= link_to raw('<span class="icon icon-reports-16"></span>Reports'), reports_worklogs_path %></li>

  <!--<dl class="accordion report-list" data-accordion>-->
    <!--<dd>-->
      <!--<a href="#report_list" class="reports-link"><span class="icon icon-reports-16"></span>Reports</a>-->

      <!--<div id="report_list" class="content report-options">-->
        <!--<li><%#= link_to 'Combined Employee daily report', reports_employees_daily_path %></li>-->
        <!--<li><%#= link_to 'Combined Employee report for a time range', reports_employees_time_range_path %></li>-->
        <!--<li><%#= link_to 'Employee report for a day', reports_employee_day_path %></li>-->
        <!--<li><%#= link_to 'Employee report for a time range', reports_employee_range_path %></li>-->
        <!--<li><%#= link_to 'Task reports', reports_tasks_path %></li>-->
        <!--<li><%#= link_to 'OKR', reports_okrs_path %></li>-->
      <!--</div>-->
    <!--</dd>-->
  <!--</dl>-->
  <% if current_user.manager? %>
      <li><%= link_to raw('<span class="icon icon-oauth-16"></span>OAuth applications'), oauth_applications_path %></li>
  <% end %>
</ul>


<ul class="user-links side-nav sidebar-links">
  <% if user_signed_in? %>
      <li>
        <%= link_to(raw("<span class='icon icon-profile-16'></span>#{current_user.name}"), user_path(current_user)) %>
      </li>
      <li>
        <%= link_to(raw('<span class="icon icon-logout-16"></span>Logout'), destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
  <% end %>
</ul>
<div class='notifications top-rights alert-area'></div>

<script type="text/javascript">
    <% if flash.now[:alert].present?  %>
        $('.alert-area').notify({message: { text: "<%= flash.now[:alert] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
    <% if flash.now[:notice].present?  %>
        $('.alert-area').notify({message: { text: "<%= flash.now[:notice] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
</script>