<ul class="side-nav sidebar-links">
  <%= form_for :search, :url => {:controller => 'home', :action => 'search'},:method=>'get' do |f| %>
      <%= f.text_field :keyword, :class=>'quick-search',:placeholder=>'Tracker id or keyword' %>
  <% end %>
  <li><a href="/"><span class="icon icon-dashboard-16"></span> Dashboard</a></li>
  <li><%= link_to raw('<span class="icon icon-tasks-16"></span>My tasks'), tasks_path %></li>
  <li><%= link_to raw('<span class="icon icon-projects-16"></span>Projects'), projects_path %></li>
  <li><%= link_to raw('<span class="icon icon-teams-16"></span>Team'), teams_path %></li>
  <li><%= link_to raw('<span class="icon icon-user-16"></span>Users'), users_path %></li>
  <!--<li><%#= link_to raw('<span class="icon icon-calendar-16"></span>Calendar'),calendar_index_path %></li>-->
  <li><%= link_to raw('<span class="icon icon-reports-16"></span>Reports'), reports_index_path %></li>
  <li><%#= link_to raw('<span class="icon icon-reports-16"></span>Objectives'), objectives_path %></li>
</ul>


<ul class="user-links side-nav sidebar-links">
  <% if user_signed_in? %>
      <li>
        <%= link_to(raw("<span class='icon icon-profile-16'></span>#{current_user.name}"), user_path(current_user)) %>
      </li>
      <li>
        <%= link_to(raw('<span class="icon icon-logout-16"></span>Logout'), destroy_user_session_path, :method => :delete) %>
      </li>
  <% else %>
      <li>
        <%= link_to('Login', new_user_session_path) %>
      </li>
  <% end %>
</ul>