<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Fluxday" %></title>
  <!--<link href='https://fonts.googleapis.com/css?family=Raleway:300,600,400italic' rel='stylesheet' type='text/css'>-->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body>
<div class="ep-tracker doorkeeper-layout">
  <div class="login-fields">
    <%= yield %>
  </div>
</div>
</body>
</html>
