<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Fluxday" %></title>
  <!--<link href='https://fonts.googleapis.com/css?family=Raleway:300,600,400italic' rel='stylesheet' type='text/css'>-->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>

<body>

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">
          <div class="app-logo"></div>
        </a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li class="shas-dropdown task-add-link"><%= link_to '+Task', new_task_path, :remote => false %></li>
        <%= render :partial => 'layouts/mobile_menu' %>
      </ul>
      <!-- Right Nav Section -->

      <!-- Left Nav Section -->
      <ul class="left">
        <%= render :partial => 'layouts/tablet_menu' %>
      </ul>
      <!--<li><a href="#">Ding</a></li>-->
      <!--</ul>-->
    </section>
  </nav>
</div>

<div class="row ep-tracker">
  <div class="large-2 columns pane1 show-for-large-up">
    <%= render 'layouts/sidebar' %>
    <%= yield :sidebar %>
  </div>
  <div class="large-10 columns pane2 full-pane">
    <%= yield :pane2 %>
    <%= yield :pane3 %>
    <%= yield %>
  </div>
</div>


<div id="myModal" class="reveal-modal" data-reveal>
  <div class="modal-content"></div>
  <a class="close-reveal-modal">&#215;</a>
</div>
</body>
</html>
