<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Fluxday" %></title>
  <!--<link href='https://fonts.googleapis.com/css?family=Raleway:300,600,400italic' rel='stylesheet' type='text/css'>-->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr",:async=>true  %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true,:async=>true  %>
</head>

<body>

<div class="row ep-tracker login">
  <div class="login-fields">
    <%= yield %>
  </div>
</div>
<div class='notifications top-rights alert-area'></div>

<script type="text/javascript">
    <% if flash.now[:alert].present?  %>
    $('.alert-area').notify({message: { text: "<%= flash.now[:alert] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
    <% if flash.now[:notice].present?  %>
    $('.alert-area').notify({message: { text: "<%= flash.now[:notice] %>" }, type: 'tracker-alert',fadeOut: { enabled: true, delay: 10000 }}).show();
    <% end %>
</script>

</body>
</html>
